.modal-body {

  &-xml {
    color: rgb(243, 231, 59);
    border: 2px dotted rgb(243, 231, 56);
    border-radius: 3px;
    padding: 0.3rem;
    cursor: pointer;
    transition: all 0.4s;
    &:hover{
      opacity: 0.7;
      color: rgb(243, 240, 59);
    }
  }
    &-pdf {
    color: rgb(243, 111, 59);
    border: 2px dotted rgb(243, 125, 56);
    border-radius: 3px;
    cursor: pointer;
    padding: 0.3rem;
    transition: all 0.4s;
    &:hover{
      opacity: 0.7;
      color: rgb(250, 89, 25);
    }
  }
  &-down{
    border-radius: 3px;
    border:1px solid #fff
  }
}
.active{
  border-bottom: 2px solid rgb(233, 25, 25);
   border: 2px solid rgb(243, 56, 56);
}
