<div class="mod-login   py-4">
  <div (click)="modal.dismiss()">
    <span class="close mr-1" aria-hidden="true">&times;</span>
  </div>

  <div class="row my-3 justify-content-center">
    <h4>Đăng ký</h4>
  </div>
  <div class="row justify-content-center">
    <form [formGroup]="formLogin">
      <div class="form-group">
        <input type="text" id="username" class="form-control" formControlName="username" placeholder="E-mail" required
          autofocus [ngClass]="(username.errors && stataValidator)?'border-error':''">
        <div *ngIf="username.invalid && (username.dirty||username.touched)" class="alert-error">
          <div *ngIf="username.errors.required">
            {{'error.username_required'| translate}}
          </div>
          <div *ngIf="username.errors.email">
            {{'error.username_email'| translate}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="password" id="password" formControlName="password" placeholder="Mật khẩu . . ."
          class="form-control" required [ngClass]="(password.errors && stataValidator)?'border-error':''">
        <div *ngIf="password.invalid && (password.dirty||password.touched)" class="alert-error">
          <div *ngIf="password.errors.required">
            {{'error.password_required'| translate}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="password" id="repassword" formControlName="repassword" placeholder="Nhập lại mật khẩu"
          class="form-control" required [ngClass]="(repassword.errors && stataValidator)?'border-error':''">
        <div *ngIf="repassword.invalid && (repassword.dirty||repassword.touched)" class="alert-error">
          <div *ngIf="repassword.errors.required">
            Xác nhận mật khẩu
          </div>
          <div *ngIf="formLogin.controls['repassword'].errors.passwordNotMatch"  >
            Mật khẩu và xác nhận không khớp.
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="checkbox" required [ngClass]="(status.errors && stataValidator)?'border-error':''" id="remeberMe"
          formControlName="status">
        <label for="remeberMe" class="pl-1">Tôi đồng ý tạo tài khoản</label>
      </div>

      <div class="form-group mb-1">
        <button class="form-control btn-login" type="submit"
          (click)="(username.errors || password.errors || status.errors)?setValidator():register()">
          Đăng ký
        </button>
      </div>
    </form>
    <div class=" mt-1 text-center create">
      <span (click)=" toLogin()">Quay lại trang đăng nhập</span>
    </div>
  </div>
</div>
