

  .btn-add {
    border-radius: 50px;
    background: #4a90e2;
    box-shadow: 1px 2px 13px rgb(117, 115, 115);
    cursor: pointer;
    &:hover {
      box-shadow: none;
      opacity: 0.8;
    }
    transition: all 0.4s ease-in-out;
  }
  .btn-cancel {
    border-radius: 50px;
    background: rgb(243, 47, 47);
    box-shadow: 1px 2px 13px rgb(97, 96, 96);
    cursor: pointer;
    &:hover {
      box-shadow: none;
      opacity: 0.8;
    }
    transition: all 0.4s ease-in-out;
  }
