<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    <h2 style="color:red ; ">
        Nhấp vào đường dẫn bên dưới để gửi mã kích hoạt tài khoản </h2>
    <div style="font-size: 17px; ">
        <p>Chúng tôi cảm ơn bạn đã đến với cửa hàng điện tử của chúng tôi</p>
        <p>Bạn đang muốn tạo tài khoản hãy nhấp vào 
        </p>
        <p>liên kết này sẽ tồn tại trong 30 phút</p>
        <p>Đối với các yêu cầu hỗ trợ, vui lòng liên hệ với chúng tôi bằng cách truy cập trang hỗ trợ của chúng tôi.
        </p>
    </div>
</body>

</html>